.background {
	background-color: rgb(248 238 231);
}
.row {
	background-color: rgb(134 109 91);
}
#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.header {
  	text-align: center;
  	font-size: 60px;
}
.intro {
	align-items: center;
}
.description {
	text-align: center;
	font-size: 20px;
}
.podcasts {
	align-items: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}
.episodes {
	padding-top: 30px;
	margin-left: 25%;
}
.disclaimer{
	text-align: center;
}
